@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

@layer base {
    .side-link{
        @apply flex justify-start items-center mx-4 px-4 py-3 hover:bg-indigo-600 hover:text-gray-100 font-normal text-gray-600 text-base rounded-2xl gap-[10px] transition-all;
    }
    .side-link.active{
        @apply bg-indigo-600 font-normal text-gray-100;
    }
    .toggle-checkbox:checked {
        @apply: right-0 border-green-400;
        right: 0;
        border-color: #68D391;
      }
      .toggle-checkbox:checked + .toggle-label {
        @apply: bg-green-400;
        background-color: #68D391;
      }
      .pagination-item{
        @apply py-3 h-8 text-center mx-auto my-1 flex justify-center box-border items-center text-xs rounded-2xl min-w-[32px];
      }
      .arrow{
       @apply content-none border-t-2 border-slate-800 dark:border-white border-solid border-r-2 h-2 w-2 inline-block hover:bg-transparent hover:cursor-default;
      }
}
